.navbar {
  background-color: #872746;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  margin-left: 10px;
}

img.logo {
  height: auto;
  width: 150px;
  margin-left: 50px;
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
}

.nav-menu {
  background-color: #872746;
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 2px 10px 3px black;
  z-index: 9999;
  border-radius: 0px 8px 8px 0px;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 80px;
  border-bottom: 1px solid grey;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.nav-text :hover {
  transform: scale(1.1);
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #e197af;
  color: white;
}

.nav-menu-items {
  width: 105%;
  margin-left: -50px !important;
}

.navbar-toggle {
  background-color: #872746;
  width: 80% !important;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.logout-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  margin-right: 30px;
}
